body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: Roboto;
}

a {
text-decoration: none;
}

.box {
padding: 30px;
transition: 400ms all;
cursor: pointer;
border: 2px solid black;
border-radius: 5px;
}
.box:hover {
background-color: #ffffff;
box-shadow: 0px 30px 60px 0 rgba(64, 72, 90, 0.15);
transform: translateY(-20px);
}
.box:hover .box-img img {
filter: grayscale(0);
}
.box .box-img {
text-align: center;
}
.box .box-img img {
/* filter: grayscale(1); */
max-width: 100%;
transition: 400ms all;
}
.box .box-title {
font-size: 18px;
font-weight: bold;
text-align: center;
color: #40485a;
margin-top: 20px;
}
.box .box-description {
font-size: 18px;
letter-spacing: normal;
line-height: 1.5;
text-align: center;
color: #6a707d;
margin-top: 21px;
}